html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* overflow-x: hidden; */
}

#root {
  margin: 0;
}

.flex-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.section-flex-item {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.buttons {
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}
